[Unit]
Description=FRP Client Service
After=network.target syslog.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/etc/frpc
ExecStart=/usr/bin/frpc -c /etc/frpc/frpc.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
