[Unit]
Description=FRP Server (%i)
After=network.target syslog.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/etc/frps
ExecStart=/usr/bin/frps -c /etc/frps/%i.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
